@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




body{
    margin: 0;
    background-size: 100%;
    background: url(svg.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    color: white;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}



h1{
    letter-spacing: 2px;
    font-size: 45px;
}
#hh{
    padding: 10px;
    letter-spacing: 2px;
    font-size: 45px;
    background: -webkit-linear-gradient(180deg, #c11e38, #220b34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input[type='text']{
    height: 40px;
    border-radius: 7px;
    width: 300px;
    min-width: 300px;
    border: none;
    font-size: 15px;
    padding: 6px 14px;
    font-family: 'Pacifico', cursive;
}
#clear{
    
    color: black;
    cursor: pointer;
    padding: 8px 6px;
    border: 1px solid #c74040;
    transition-duration: 0.4s;
    border-radius: 7px;
}
#clear:hover{
    color: white;
    background-color: #c74040; 
}

#line2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px;
}
#warn{
    font-size: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
#opisa{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 0 14px;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
#nations, #types {
    text-align: center;
    min-width: 520px;
    border: 2px solid;
    border-radius: 5px;
    padding: 6px 16px;
    margin-bottom: 25px;
    transition-duration: 0.2s;
    margin: 5px;
}

#nations button:hover, #types button:hover{
    background-color: #343634;
}
button{
    font: 900 15px 'Raleway', sans-serif;
    padding: 6px 16px;
    border: none;
    transition-duration: 0.4s;
}

.active{
    background-color: rgb(67, 73, 60);
    color: white;
}

#container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 200px;
    font-family: 'Montserrat', sans-serif;
}

.product{
    width: 300px;
    max-width: 300px;
    background-color: rgb(33, 34, 34);
    padding: 8px;
    border-radius: 6px;
    color: white;
    text-align: center;
}
#img_back{
    width: 100%;
    height: 200px;
}
img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    header {
      flex-direction: column;
      text-align: center;
      margin-bottom: 50px;
    }
    h1{
        margin: 20px 0 0 0;
    }
    #warn{
        font-size: 25px;
    }
    
#line2{
    padding: 0;
}
}  