@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap');
body{
  color: black;
  margin: 0;
  background: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
#hh i{
  font-style: normal;
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
#hh i:hover{
  transform: translate3d(0, -6px, 0);
}
header {
    background-color: #1d1d1d;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10% 0 10%;
}
#one{
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #F3FDE8;
}
#sec_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


#text{
  height: 30px;
  border-radius: 15px;
  width: 300px;
  min-width: 300px;
  font-size: 15px;
  padding: 6px 14px;
  font-family: 'Pacifico', cursive;
  border: none;
  background-color: #e9e9e9;
  color: black;
}
#clear{
  font-family: 'Pacifico', cursive;
  color: black;
  cursor: pointer;
  padding: 8px 12px;
  transition-duration: 0.4s;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #e9e9e9;
  cursor: pointer;
}
#clear:hover{
  background-color: #f88c8c; 
  color: black;
}


#line2{
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;

}
#warn{
  font-size: 20px;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
#opisa{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  padding: 0 14px;
  font-weight: 900;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

#line2::before{
  content: "See products";
  display: flex;
  width: 100vw;
  justify-content: center;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  margin-bottom: 20px;
}
select{
  border-radius: 15px;
  font-size: 15px;
  padding: 6px 14px;
  font-family: 'Pacifico', cursive;
  border: none;
  background-color: #e9e9e9;
  color: black;
  margin-right: 15px;
  cursor: pointer;
}

.ctm{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 200px;
  max-width: 1500px;
  margin: 100px auto 200px auto;
}
.cards_item {
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  width: 380px;
  padding: 10px 40px;
  height: auto;
  transition: 0.5s;
  background-color: rgb(240, 239, 237);
  margin: 3px;
}


.card {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s;
}

.card_image {
  background: none;
  position: relative;
  height: 280px;
  width: 280px;
  padding: 10px;
}

.card_image img {
  background: none;
  height: 280px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.card:hover{
  scale: 1.02;
}

.card_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 8px 0 8px ;
  max-height: 290px;
  height: 90px;
}

.card_content::-webkit-scrollbar {
  width: 8px;
}

.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}

.card_title {
  letter-spacing: 1.2px;
  color: black;
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}


.card_text{
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  gap: 10px;
}

.card_text p {
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
}


.card_title::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00DFA2;
  content: "";
}
h2{
  font-size: 30px;
}


.swiper {
  width: 100vw;
  background-color: #252525;
  height: 60vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  min-height: 400px;
  width: 100vw;
  max-height: 60vh;
  object-fit: cover;
  display: block;
  margin: 0 auto; 
}
.swiper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 10;
}

.opis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-60vh);
  z-index: 10;
  width: 100vw;
  height: 60vh;
  position: relative;
  color: white;
  font-family: 'Amatic SC', cursive;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
.opis h1{
  font-size: 70px;
  margin: 0 0 10px 0;
}

.opis h3{
  margin: 0 0 10px 0;
  max-width: 500px;
  font-size: 30px;
  text-align: center;
}

#see{
  font-family: "Montserrat", sans-serif;
  padding: 12px 32px;
  border: 1px solid red;
  background-color: #D80032;
  color: white;
  font-size: 20px;
  transition: .4s;
  border-radius: 7px;
}
#see:hover{
  scale: 1.05;
}


 #contact #container {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 4% 15% 4% 15%;
  background-color: #0e0e0f;
  position: relative;
  bottom: 0;
  flex-direction: column;
}
#ones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
#ones #fform {
  font-family: "Montserrat", sans-serif;
  padding: 6px 14px;
  border-radius: 9px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 400px;
}
#ones #fform h1 {
  font-family: "Poppins", sans-serif;
  font-size: 29px;
  margin: 20px 0 20px 0;
}
#ones #fform form {
  padding: 0 10px 0 0;
}
#ones #fform form input,
#ones #fform form textarea {
  resize: none;
  color: aliceblue;
  width: 320px;
  margin: 5px 0 0 0;
  line-height: 24px;
  background: none;
  border: 1px solid #2e2e31;
  outline: none;
  display: block;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: 500;
}
  #fform form .slide:hover,
  #fform form .slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
  #fform form .slide {
  --color: #8fc866;
  --hover: #66c887;
}
  #fform form button {
  color: var(--color);
  transition: 0.25s;
}
  #fform form button:hover,   #fform form button:focus {
  border-color: var(--hover);
  color: #fff;
}
  #fform form button {
  background: none;
  border: 1px solid;
  font: inherit;
  line-height: 1;
  margin-top: 0.5em;
  font-size: 20px;
  padding: 10px 26px;
}
  #media {
  width: 400px;
  font-family: "Poppins", sans-serif;
}
  #media h1 {
  font-size: 29px;
}
  #media h1 span {
  color: #ffb84c;
}
  #media ul {
  padding: 0;
  line-height: 250%;
}
  #media ul a {
  text-decoration: none;
  color: aliceblue;
}
  #media ul a li {
  list-style-type: none;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: 0.4s;
}
  #media ul a li:hover {
  letter-spacing: 5.5px;
}
  #media ul a:nth-child(1):hover {
  color: #4267b2;
}
  #media ul a:nth-child(2):hover {
  color: #ffdc80;
}
  #media ul a:nth-child(3):hover {
  color: #0072b1;
}
  #media ul a:nth-child(4):hover {
  color: #6cc644;
}
 #container #prawa {
  font-weight: 700;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
 #container #prawa span {
  color: #df2e38;
  padding: 0 5px;
  font-family: "xxx", sans-serif;
}

@media screen and (max-width: 700px) {
   #container #prawa {
    font-weight: 700;
    margin-top: 60px;
    display: block;
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
   #container #ones #fform form {
    padding: 0 10px 0 0;
  }
   #container #ones #fform form input,
   #container #ones #fform form textarea {
    width: 280px;
  }
}

@media screen and (max-width: 370px) {
  #container #ones #fform form {
   padding: 0 10px 0 0;
 }
  #container #ones #fform form input,
  #container #ones #fform form textarea {
   width: 200px;
 }
 #media h1 {
  font-size: 23px;
}
}








@media  screen and (max-width: 1400px) {
  .swiper {
    max-height: 400px;
  }


  .cards_item {
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 260px;
    padding: 10px 40px;
    height: auto;
    transition: 0.5s;
    background-color: #d6e4e521;
    margin: 3px;
  }
  
  .card_image {
    height: 200px;
    width: 200px;
  }
  
  .card_image img {
    height: 200px;
    width: 100%;
  }
  
  .card_title {
    font-size: 30px;
  }
  
  
  
  .card_text p {
    font-size: 20px;
  }
}










@media  screen and (max-width: 1050px) {

  .cards_item {
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 30%;
    min-width: 260px;
    padding: 5px 30px;
    height: auto;
    transition: 0.5s;
    background-color: #d6e4e521;
    margin: 3px;
  }
  

  .card_image {
    height: 180px;
    width: 180px;
  }
  
  .card_image img {
    height: 180px;
    width: 100%;
  }
  
  .card_title {
    font-size: 30px;
  }
  
  
  .card_text p {
    font-size: 20px;
  }
}



@media only screen and (max-width: 1000px) {

    #warn{
        font-size: 25px;
    }
    
  #line2{
      padding: 0;
  }


  .opis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    transform: translateY(-400px);
    z-index: 10;
    width: 100vw;
    position: relative;
    color: white;
    font-family: 'Amatic SC', cursive;
  }
  
  .opis h1{
    font-size: 50px;
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  .opis h3{
    margin: 0 0 10px 0;
    max-width: 500px;
    font-size: 25px;
    text-align: center;
  }

}  





@media  screen and (max-width: 660px) {
  select{
    margin-right: 0;
  }
  #f_div{
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .swiper {
    max-height: 400px;
  }
  #clear{
    padding: 6px 14px;
    font-size: 15px;
    height: 30px;
    width: 300px;
  }

  .cards_item {
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 0px;
    padding: 10px 40px;
    height: auto;
    transition: 0.5s;
    background-color: #d6e4e521;
    margin: 3px;
  }
  
  
  .card {
    width: 100%;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .card_content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 8px 0 8px ;
    max-height: 290px;
    height: 50px;
    gap: 10px;
  }
  
  .card_text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 5px;
    gap: 10px;
  }

  .card_image {
    height: 130px;
    width: 130px;
    padding: 0;
  }
  
  .card_image img {
    height: 130px;
    width: 100%;
  }
  
  .card_title {
    font-size: 25px;
  }
  
  
  
  .card_text p {
    font-size: 20px;
  }
  .opis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    transform: translateY(-410px);
    z-index: 10;
    width: 100vw;
    position: relative;
    color: white;
    font-family: 'Amatic SC', cursive;
  }
}




@media  screen and (max-width: 410px){
  #f_div{
    width: auto;
    flex-direction: column;
    row-gap: 11px;
  }
  select{
    width: 90vw;
  }
  #text{
    height: 30px;
    border-radius: 15px;
    width: 90%;
    min-width: 0px;
    font-size: 15px;
    padding: 6px 14px;
    font-family: 'Pacifico', cursive;
    border: none;
    background-color: #e9e9e9;
    color: black;
  }
  #clear{
    padding: 6px 14px;
    font-size: 15px;
    height: 30px;
    width: 90%;
  }
  .opis{
    transform: translateY(-48vh);
  }
  .card_item{
    width: 80%;
  }
  .card_content{
    margin-bottom: 5px;
  }
  .card_title {
    font-size: 20px;
  }
  
  .cards_item {
    padding: 10px 20px;
}
  
  .card_text p {
    font-size: 15px;
  }
  .card_content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 8px 0 8px ;
    max-height: 290px;
    height: 50px;
    gap: 10px;
  }

}